In [21]:
#load test data
import pandas as pd
click = pd.read_csv('/home/tione/notebook/data/test/click_log.csv')

In [22]:
ad = pd.read_csv('/home/tione/notebook/data/test/ad.csv')

In [23]:
user_ad_click  = click.join(ad.set_index('creative_id'), on='creative_id')

In [14]:
group_user_click_ad = user_ad_click.groupby('user_id').agg(lambda x: ' '.join(x.values.astype(str)))

In [24]:
group_user_click_ad

,time,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
user_id,,,,,,,,
3000001,3 29 49 49 49 23 82 11 11 54 54,351878 1508864 1711578 2259756 1797787 593698 ...,1 1 1 1 1 1 1 1 1 1 1,315858 1312021 1482336 1949993 1556702 527764 ...,\N \N 27031 8593 \N 8938 \N 1794 1701 32368 \N,18 18 3 3 18 3 18 2 2 5 18,7579 39179 32735 17963 39179 9950 54044 13084 ...,322 322 317 322 322 247 322 248 247 288 322
3000002,89 71 12 43 30 79 79 33 86 75 32 35 10 46 74 5...,4131664 2222344 176984 1837242 1442051 47512 3...,1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 2 ...,3544856 1918325 158762 1590810 1256930 44540 3...,129 1567 1687 \N \N 1377 \N 1674 1810 \N 35 17...,2 2 2 16 5 2 18 2 2 18 2 2 18 18 18 2 2 18 8 1...,22126 24523 24661 471 36185 10334 14681 12993 ...,6 215 5 \N 296 5 215 322 319 6 26 \N 24 297 6 ...
3000003,77 85 63 70 85 74 11 3 63 55 38 64 66 58 79 73...,1681016 3161357 2035400 3161357 4065209 360791...,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...,1456627 2719823 1759408 2719823 3489224 310618...,63 1849 154 1849 \N 34650 1447 34504 \N \N \N ...,2 2 2 2 18 5 2 5 18 18 18 18 2 2 2 2 2 2 5 2 2...,8380 52036 14002 52036 14681 56151 24691 40491...,317 317 319 317 6 230 238 202 6 6 54 6 238 317...
3000004,18 15 40 13 62 40 63 40 18 66 32 16 40 23 69 6...,9870 849706 1145367 108656 2944102 1328401 302...,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1,11324 748945 1003786 98506 2531386 1161398 260...,1323 \N \N 1036 \N \N \N 1810 1268 \N 1268 \N ...,2 18 18 2 5 18 18 2 2 18 2 18 2 2 18 2 2 2 18 2,818 28323 27843 8520 2034 27843 28731 28002 23...,319 40 47 319 291 47 54 319 5 74 5 54 319 319 ...
3000005,84 65 7 73 3 13 26 33 6 27 2 51 83 62 84 38 65...,3863936 3009874 71219 49682 183003 394403 1259...,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...,3320090 2588616 65782 46459 164114 352221 1101...,\N \N \N \N 1987 1567 1567 1944 129 \N 1896 23...,18 18 18 18 2 2 2 2 2 18 2 2 2 18 2 2 2 2 2 18...,30243 48829 6763 8371 29243 16228 16320 7566 2...,237 26 28 54 26 6 6 247 6 74 238 319 6 54 6 31...
...,...,...,...,...,...,...,...,...
3999996,28 24 56 34 51 40 72 75 73 60 90 73 80 73 84 8...,962662 648402 1837000 1103677 2423490 1369223 ...,1 1 1 1 1 1 1 2 1 1 1 4 1 2 1 1 1 1 1 2 1 1 1 ...,847457 575608 1590599 968408 2088388 1196440 2...,2038 \N \N 1567 1064 1862 1024 1305 35 1766 \N...,2 12 12 2 2 2 2 2 2 2 12 2 2 2 2 18 2 2 2 2 2 ...,36714 18103 10989 16320 47148 21109 52449 9408...,322 54 6 6 242 238 319 319 26 319 207 6 322 6 ...
3999997,89 47 18 10 2 57 20 67 48 59 30 17 18 82 65 83...,4249364 2227294 50445 390953 271727 882346 149...,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1,3645458 1922481 47121 349164 244430 777689 164...,\N 1356 \N 1246 \N \N \N 2933 \N \N 1334 \N \N...,18 2 18 2 12 18 18 2 5 18 2 5 18 18 18 18 2 18...,12240 9761 29627 16639 10986 10989 1903 41688 ...,173 261 25 81 6 6 1 248 289 27 317 222 25 6 88...
3999998,39 46 12 75 51 25 76 32 80 65 90 68 9 22 68 17...,24188 1080706 54150 3647980 2188843 771243 352...,1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1,24827 948569 50437 3140549 1889481 681329 3033...,164 \N \N 23 \N 1261 1469 1452 \N 23 49 23 234...,2 18 12 2 18 2 2 2 18 2 2 2 2 18 5 18 3 2 18,2255 33237 10989 33280 33237 2623 28229 33459 ...,320 248 202 319 253 6 21 322 251 319 6 319 167...
3999999,35 71 20 67 26 72 50 76 65 2 70 34 91 45 30 69...,545839 2560880 918536 3034248 1108217 3433843 ...,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 ...,485571 2205146 809167 2609435 972346 2956048 1...,2510 2400 \N \N \N 23 \N \N \N 1492 \N \N 23 9...,2 2 18 5 18 2 12 12 5 2 18 12 2 2 2 2 12 2 12 ...,39096 38474 37647 6974 24339 57169 8200 31326 ...,242 246 319 293 73 319 54 157 288 322 6 27 319...
4000000,38 55 10 44 12 2 4 3 76 28 44 39 59 46 70 76 7...,99784 2064666 133681 2115458 196121 253460 231...,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 2 1 ...,90867 1784241 120110 1827272 176014 227912 207...,\N 1332 39519 \N 37353 \N 41655 27031 1036 \N ...,18 2 17 18 17 18 17 3 2 18 3 5 18 18 2 2 2 18 ...,10955 44873 13446 49301 16680 30817 15975 1835...,251 6 \N 13 \N 322 \N 317 319 40 248 6 26 54 6...

In [25]:
predict_data = group_user_click_ad[['creative_id']]

In [26]:
predict_data

                                               creative_id
user_id
3000001  351878 1508864 1711578 2259756 1797787 593698 ...
3000002  4131664 2222344 176984 1837242 1442051 47512 3...
3000003  1681016 3161357 2035400 3161357 4065209 360791...
3000004  9870 849706 1145367 108656 2944102 1328401 302...
3000005  3863936 3009874 71219 49682 183003 394403 1259...
...                                                    ...
3999996  962662 648402 1837000 1103677 2423490 1369223 ...
3999997  4249364 2227294 50445 390953 271727 882346 149...
3999998  24188 1080706 54150 3647980 2188843 771243 352...
3999999  545839 2560880 918536 3034248 1108217 3433843 ...
4000000  99784 2064666 133681 2115458 196121 253460 231...

[1000000 rows x 1 columns]

In [29]:
predict_data.to_csv('/home/tione/notebook/fastText-0.9.2/data/predict_data.csv',index=False,header=False)

In [30]:
data = pd.read_csv('/home/tione/notebook/fastText-0.9.2/submit_2020-05-1507-35-22.csv')